<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <%= csrf_meta_tag %>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="shortcut icon" href="<%= asset_path('favicon.ico') %>" />
  <link rel="apple-touch-icon" href="<%= asset_path('apple-touch-icon.png') %>">
  <title>Japan System | User Profile</title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <%= stylesheet_link_tag    'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css' %>
  <%= stylesheet_link_tag    'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css' %>
  <%= stylesheet_link_tag    'https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css' %>
  <%= stylesheet_link_tag    'AdminLTE.min.css' %>
  <%= stylesheet_link_tag    '_all-skins.min.css' %>
  <%= stylesheet_link_tag    '_all.css' %>

  <%= javascript_tag "window._token = '#{form_authenticity_token}'" %>

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->
  <style>
    body {
      font-family: "Meiryo";
    }
    label {
      font-size: 12px;
      font-weight: normal;
    }
    input[type="file"] {
      height: -moz-calc(26px);
      padding-bottom: -moz-calc(32px);
    }
  </style>
</head>
<body class="hold-transition skin-blue sidebar-mini">
  
</div>
<div class="wrapper">
  <header class="main-header">
    <!-- Logo -->
    <a href="<%= root_path %>" class="logo">
      <!-- mini logo for sidebar mini 50x50 pixels -->
      <span class="logo-mini"><b>J</b>S</span>
      <!-- logo for regular state and mobile devices -->
      <span class="logo-lg"><b>Japan</b>System</span>
    </a>
    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top">
      <!-- Sidebar toggle button-->
      <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
    </nav>
  </header>
  <!-- Left side column. contains the logo and sidebar -->
  <aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
      <!-- Sidebar user panel -->
      <div class="user-panel">
        <div class="pull-left image">
          <img src="/img/app-logo.png" class="img-circle" alt="User Image">
        </div>
        <div class="pull-left info">
          <p style="margin: 0px; margin-top: 12px;">JS Indoor Map</p>
        </div>
      </div>
      <!-- sidebar menu: : style can be found in sidebar.less -->
      <ul class="sidebar-menu" style="margin-top: 10px;">
        <li class="header">MAIN NAVIGATION</li>
        <li>
          <a href="<%= import_path %>">
            <i class="fa fa-file-excel-o"></i> <span>Import</span>
          </a>
        </li>
        <li>
          <a href="<%= import_list_path %>">
            <i class="fa fa-database"></i> <span>Import Result</span>
          </a>
        </li>
      </ul>
    </section>
    <!-- /.sidebar -->
  </aside>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <%= yield %>
  </div>
  <!-- /.content-wrapper -->

</div>
</body>

<!-- jQuery 2.2.0 -->
<%= javascript_include_tag    'jQuery-2.2.0.min.js' %>
<!-- Bootstrap 3.3.6 -->
<%= javascript_include_tag    'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js' %>
<!-- Slimscroll -->
<%= javascript_include_tag    'jquery.slimscroll.min.js' %>
<!-- FastClick -->
<%= javascript_include_tag    'fastclick.min.js' %>
<!-- AdminLTE App -->
<%= javascript_include_tag    'app.min.js' %>
<!-- AdminLTE for demo purposes -->
<%= javascript_include_tag    'demo.js' %>
<%= javascript_include_tag    'icheck.min.js' %>
<%= javascript_include_tag    'https://cdnjs.cloudflare.com/ajax/libs/jquery-csv/0.71/jquery.csv-0.71.min.js' %>
<%= javascript_include_tag    'papaparse.min.js' %>
<% if current_page?(import_path) %>
<%= javascript_include_tag    'tooljs.js' %>
<% elsif current_page?(import_list_path) %>
<%= javascript_include_tag    'tooljs_list.js' %> 
<% end %>
<script>
  $(function () {
    //iCheck for checkbox and radio inputs
    $('input[type="checkbox"].minimal, input[type="radio"].minimal').iCheck({
      checkboxClass: 'icheckbox_minimal-blue',
      radioClass: 'iradio_minimal-blue'
    });
  });
</script>
</html>